{% extends 'layout/layout.twig' %}

{% block title %}{{ translate('Downloads') }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col col-sm-12">
                <h2>Statistics</h2>
            </div>
        </div>

        <div class="row">
            <div class="col col-sm-2">
                {% include 'user/settings/partial/sidebar.twig' %}
            </div>

            <div class="col col-sm-10">
                <div class="row">
                    <div class="alert alert-dismissable alert-danger{{ flashMessages|length ? '' : ' hide' }}">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <h3 class="error-header">Oops... Error!</h3>

                        <ul class="list-unstyled error-list">
                            {% for msg in flashMessages %}
                                <li>{{ msg }}</li>
                            {% endfor %}
                        </ul>
                    </div>

                    <section class="downloads">
                        {% for vaendor, files in userFiles  %}
                            <h3>{{ vaendor }}</h3>

                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Date <i class="fa fa-clock-o"></i></th>
                                    <th>Format <i class="fa fa-table"></i></th>
                                    <th>Status <i class="fa fa-stack-exchange"></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for file in files %}
                                    <tr class="{{ file.downloaded ? 'downloaded' : 'not-downloaded' }}">
                                        <td>{{ file.date }}</td>
                                        <td>
                                            <i class="fa fa-floppy-o"></i>
                                            {% for format in formats %}
                                                <a href="{{ url('settings/default',
                                                    {'action': 'get-file'},
                                                    {'query': {
                                                        'file': file.path ~ '/' ~ file.filename,
                                                        'format': format,
                                                    }}) }}">
                                                    {{ format|upper }}
                                                </a>
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% if file.downloaded == 'downloaded' %}
                                                <em>Downloaded</em>
                                            {% else %}
                                                <strong>New</strong>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <h3>No files yet.</h3>
                        {% endfor %}

                        <div class="helper">
                            <p><strong>New</strong> - The new file.</p>
                            <p><em>Downloaded</em> - You have already downloaded the file.</p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}