{% extends 'layout/layout.twig' %}

{% block title %}{{ translate('Settings') }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col col-sm-12">
                <h2>Profile</h2>
            </div>
        </div>

        <div class="row">
            <div class="col col-sm-2">
                {% include 'user/settings/partial/sidebar.twig' %}
            </div>

            <div class="col col-sm-10">
                <div class="row settings-content">
                    <div class="col col-sm-2">
                        <div class="gravatar">
                            <img src="https://secure.gravatar.com/avatar/{{ zfcUserIdentity().getEmail()|md5 }}?default=identicon&secure=true&size=80" alt="{{ zfcUserIdentity().getEmail() }}">
                        </div>
                    </div>

                    <div class="col col-sm-10">
                        <h3><i class="fa fa-user"></i> <strong>{{ zfcUserDisplayName() }}</strong></h3>
                        {# user info #}
                        <p><i class="fa fa-envelope"></i> <a href="{{ url('zfcuser/changeemail') }}">{{ zfcUserIdentity().getEmail() }}</a></p>
                        <p><i class="fa fa-clock-o"></i> Member since {{ userInfo.userInfo.dateRegistration|date('M d, Y') }}</p>

                        {% if userInfo.subInfo.subType != 'Free' %}
                            <p><i class="fa fa-bar-chart"></i> Subscription type {{ userInfo.subInfo.subType }}</p>
                            <p><i class="fa fa-battery-half"></i> Subscription status {{ userInfo.subInfo.subStatus }}</p>
                        {% else %}
                            <p><i class="fa fa-bar-chart"></i> Subscription type <a href="{{ url('settings/default', {'action': 'subscription'}) }}">{{ userInfo.subInfo.subType }}</a></p>
                        {% endif %}

                        <p><i class="fa fa-key"></i> <a href="{{ url('zfcuser/changepassword') }}">Change password</a></p>
                        <p><button type="button" class="btn btn-raised btn-primary key-form-toggle">Add/Edit Key</button></p>

                        <div class="api-key-form hide">
                            {# @todo add form dinamic #}
                            <form action="{{ url('settings/default', {'action': 'profile'}) }}" method="post" class="form-inline api-key-form-item ebay-api-key-form">
                                <div class="form-group form-group-material-blue-grey label-floating">
                                    <label for="ebay-key-input" class="label control-label">Ebay AppID</label>
                                    <input id="ebay-key-input" type="text" name="key" class="form-control access-key" required>
                                </div>

                                <input type="hidden" name="vendor" class="vendor" value="1">
                                <input type="hidden" name="token" class="token" value="{{ token }}">
                                <button type="submit" class="btn btn-raised btn-primary keys-btn"><i class="fa fa-floppy-o"></i></button>
                            </form>
                            {# next form here #}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}