{% extends 'layout/layout.twig' %}

{% block title %}{{ translate('Subscription') }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col col-sm-12">
                <h2>Statistics</h2>
            </div>
        </div>

        <div class="row">
            <div class="col col-sm-2">
                {% include 'user/settings/partial/sidebar.twig' %}
            </div>

            <div class="col col-sm-10">
                <div class="row">
                    <section class="statistics">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Subscription</th>
                                <th>Downloads today</th>
                                <th>Downloads total</th>
                                <th>Date activation</th>
                                <th>Date expiration</th>
                                <th>Limit Row Per Request</th>
                                <th>Time to activation</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for sub in subInfo %}
                            <tr>
                                <td>{{ sub.subscriptionType }}</td>
                                <td>{{ sub.requestCounterDaily }}</td>
                                <td>{{ sub.requestCounterTotal }}</td>
                                <td>{{ sub.dateActivation|date('M d, Y') }}</td>
                                <td>
                                    {% if sub.subscriptionType == 'Free' %}
                                        No limit
                                    {% else %}
                                        {{ sub.dateExpiration|date('M d, Y') }}
                                    {% endif %}
                                </td>
                                <td>{{ sub.limitRowPerRequest }}</td>
                                <td class="countdown-holder" data-time="{{ sub.timeToActivation }}">
                                    <span class="countdown"></span>
                                </td>
                            </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}