{% extends 'layout/layout.twig' %}

{% block title %}{{ translate('Your password has been changed') }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col col-sm-6 col-sm-offset-3">
                <h1>{{ translate('Your password has been changed.') }}</h1>

                <p>{{ translate('You can now login using your new password.') }}</p>

                <a href="{{ url('zfcuser/login') }}">{{ translate('Back to login') }}</a>
            </div>
        </div>
    </div>
{% endblock %}
