{% extends 'layout/layout.twig' %}

{% block title %}{{ translate('Get Started') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col col-md-12">
            <div class="container">
                <div class="togglebutton">
                    <label>
                        <input class="toggle-checkbox" type="checkbox">
                        <span class="togglebutton-text price-block-without-key">Without own key</span>
                        <span class="togglebutton-text price-block-with-key hide">With own key</span>
                    </label>
                </div>

                <section class="price-block-without-key">
                    <h3 class="text-center">Without own key</h3>
                    <div class="row">
                        <section class="price">
                            {% for plan in plans.key_not_exists %}
                                <div class="col col-md-4 col-sm-6 col-xs-12">
                                    <div class="price-container">
                                        <section class="price-header text-center">{{ plan.subscriptionType }}</section>
                                        <section class="price-body text-center">
                                            <div class="price-row price-money">{{ plan.price }}
                                                <span class="price-period">
                                                    {% if 'month' in plan.subscriptionType|lower %}
                                                        /month
                                                    {% else %}
                                                        /once
                                                    {% endif %}
                                                </span>
                                            </div>
                                            <div class="price-row price-limit-row"><span class="price-row-value">{{ plan.limitRowPerRequest }}</span> limit row per page</div>
                                            <div class="price-row price-limit-request"><span class="price-row-value">{{ plan.limitRequestDaily }}</span> limit request daily</div>
                                        </section>

                                        <a href="#" class="btn btn-raised btn-primary btn-lg btn-block">Sign Up</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </section>
                    </div>
                </section>

                <section class="price-block-with-key hide">
                    <h3 class="text-center">With own key</h3>
                    <div class="row">
                        <section class="price">
                            {% for plan in plans.key_exists %}
                                <div class="col col-md-4 col-sm-6 col-xs-12">
                                    <div class="price-container">
                                        <section class="price-header text-center">{{ plan.subscriptionType }}</section>
                                        <section class="price-body text-center">
                                            <div class="price-row price-money">{{ plan.price }}
                                                <span class="price-period">
                                                    {% if 'month' in plan.subscriptionType|lower %}
                                                        /month
                                                    {% else %}
                                                        /once
                                                    {% endif %}
                                                </span>
                                            </div>
                                            <div class="price-row price-limit-row"><span class="price-row-value">{{ plan.limitRowPerRequest }}</span> limit row per page</div>
                                            <div class="price-row price-limit-request"><span class="price-row-value">{{ plan.limitRequestDaily }}</span> limit request daily</div>
                                        </section>

                                        <a href="#" class="btn btn-raised btn-primary btn-lg btn-block">Sign Up</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </section>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}
