{% extends 'layout/layout.twig' %}

{% block title %}{{ translate('Get Started') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col col-md-12">
            <div class="container">
                <div class="togglebutton">
                    <label>
                        <input class="toggle-checkbox" type="checkbox">
                        <span class="togglebutton-text price-block-without-key">Without own key</span>
                        <span class="togglebutton-text price-block-with-key hide">With own key</span>
                    </label>
                </div>

                {% for vendor in plans %}
                    {% for key, plan  in vendor %}
                        {% if key == 'withoutKey' %}
                            {% set params = {
                                'className': 'price-block-without-key',
                                'header'   : 'Without own key',
                            } %}
                        {% else %}
                            {% set params = {
                                'className': 'price-block-with-key hide',
                                'header'   : 'With own key',
                            } %}
                        {% endif %}

                        <section class="{{ params.className }}">
                            <h3 class="text-center">{{ params.header }}</h3>
                            <div class="row">
                                <section class="price">
                                    {% for planItem in plan %}
                                        <div class="col col-md-4 col-sm-6 col-xs-12">
                                            <div class="price-container">
                                                <section class="price-header text-center">{{ planItem.title }}</section>
                                                <section class="price-body text-center">
                                                    <div class="price-row price-money">{{ planItem.price }}
                                                        <span class="price-period">
                                                            {% if 'month' in planItem.title|lower %}
                                                                /month
                                                            {% else %}
                                                                /once
                                                            {% endif %}
                                                        </span>
                                                    </div>
                                                    <div class="price-row price-limit-row">
                                                        <span class="price-row-value">{{ planItem.limitRowPerRequest }}</span> limit row per page
                                                    </div>
                                                    <div class="price-row price-limit-request">
                                                        <span class="price-row-value">{{ planItem.limitRequestDaily }}</span> limit request daily
                                                    </div>
                                                </section>

                                                <a href="#" class="btn btn-raised btn-primary btn-lg btn-block">Sign Up</a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </section>
                            </div>
                        </section>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
