{% extends 'layout/layout.twig' %}

{% block title %}{{ translate('Change Email') }}{% endblock %}

{% set placeholders = ['New Email', 'New Email replay', 'Password'] %}
{# -1 to skip empty label string in loop bottom #}
{% set counter = -1 %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col col-sm-12">
                <h2>Profile</h2>
            </div>
        </div>

        <div class="row">
            <div class="col col-sm-2">
                <h4>Account</h4>
                <p><a href="#">Subscription</a></p>
                <p><a href="#">Statistics</a></p>

                <h4>User</h4>
                <p><a href="{{ url('settings/default', {'action': 'profile'}) }}">Profile</a></p>
                <p><a href="{{ url('settings/default', {'action': 'notification'}) }}">Notifications</a></p>
            </div>

            <div class="col col-sm-4">
                <div class="row settings-content">
                    <h3>{{ translate('Change Email for %s')|format(zfcUserDisplayName()) }}</h3>

                    {% if status is same as(true) %}
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <strong>{{ translate('Email address changed successfully.') }}</strong>
                        </div>
                    {% elseif status is same as(false) %}
                        <div class="alert alert-error">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <strong>{{ translate('Unable to update your email address. Please try again.') }}</strong>
                        </div>
                    {% endif %}

                    {% set form = changeEmailForm %}
                    {% do form.prepare() %}

                    {% do form.setAttributes({
                    'action': url('zfcuser/changeemail'),
                    'class' : 'form'
                    }) %}

                    {{ form().openTag(form)|raw }}

                    {% for element in form %}

                        <div class="form-group form-group-material-blue-grey{% if formElementErrors(element) %} has-error{% endif %}">

                            {% if element.getLabel() %}
                                <span class="sr-only">{{ formLabel(element) }}</span>
                            {% endif %}

                            {% if element is instanceof('Zend\\Form\\Element\\Button') %}
                                {{ formButton(element) }}
                            {% elseif element is instanceof('Zend\\Form\\Element\\Captcha') %}
                                {{ formCaptcha(element) }}
                            {% else %}
                                {{ formInput(element.setAttributes({
                                    'class'         : 'form-control',
                                    'placeholder'   : placeholders[counter],
                                    'required'      : true,
                                    'autocomplete'  : 'off',
                                })) }}
                            {% endif %}

                            {% if formElementErrors(element) %}
                                {{ formElementErrors()
                                .setMessageOpenFormat('<p class="help-block">')
                                .setMessageSeparatorString('</p><p class="help-block">')
                                .setMessageCloseString('</p>')
                                .render(element)|raw }}
                            {% endif %}
                        </div>

                        {% set counter = counter + 1 %}
                    {% endfor %}

                    {% if (redirect) %}
                        <input type="hidden" name="redirect" value="{{ redirect|e }}">
                    {% endif %}

                    <input type="submit" class="btn btn-material-blue-grey btn-lg btn-block submit-btn" value="Send">

                    {{ form().closeTag(form)|raw }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
