{% extends 'layout/layout.twig' %}

{% block title %}{{ translate('Change Email') }}{% endblock %}

{% block content %}
    <h3>{{ translate('Change Password for %s')|format(zfcUserDisplayName()) }}</h3>

    {% if status === true %}
        <div class="alert alert-success">{{ translate('Password changed successfully.') }}</div>
    {% elseif status === false %}
        <div class="alert alert-error">{{ translate('Unable to update your password. Please try again.') }}</div>
    {% endif %}

    {% set form = changePasswordForm %}
    {% do form.prepare() %}

    {% do form.setAttributes({
        'action': url('zfcuser/changepassword'),
        'class' : 'form'
    }) %}

    {% set emailElement = form->get('identity') %}
    {% do emailElement.setValue(zfcUserIdentity().getEmail()) %}

    {{ form().openTag(form)|raw }}

    <div class="form-group{% if formElementErrors(form.get('identity')) %} has-error{% endif %}">
        <span class="sr-only">{{ formLabel(form.get('identity')) }}</span>
        {{ formInput(form.get('identity').setAttributes({
            'class'      : 'form-control',
            'id'         : 'identity',
            'type'       : 'email',
            'autofocus'  : true,
            'required'   : true,
            'placeholder': 'Email',
        })) }}
    </div>
    <div class="form-group{% if formElementErrors(form.get('credential')) %} has-error{% endif %}">
        <span class="sr-only">{{ formLabel(form.get('credential')) }}</span>
        {{ formInput(form.get('credential').setAttributes({
            'class'      : 'form-control',
            'id'         : 'credential',
            'required'   : true,
            'placeholder': 'Password',
        })) }}
    </div>
    <div class="form-group{% if formElementErrors(form.get('newCredential')) %} has-error{% endif %}">
        <span class="sr-only">{{ formLabel(form.get('newCredential')) }}</span>
        {{ formInput(form.get('newCredential').setAttributes({
            'class'      : 'form-control',
            'id'         : 'newCredential',
            'required'   : true,
            'placeholder': 'Password',
        })) }}
    </div>
    <div class="form-group{% if formElementErrors(form.get('newCredentialVerify')) %} has-error{% endif %}">
        <span class="sr-only">{{ formLabel(form.get('newCredentialVerify')) }}</span>
        {{ formInput(form.get('newCredential').setAttributes({
            'class'      : 'form-control',
            'id'         : 'newCredentialVerify',
            'required'   : true,
            'placeholder': 'Password',
        })) }}
    </div>

    {{ formButton(form.get('submit').setAttribute('class', 'btn btn-primary btn-lg btn-block submit-btn')) }}

    {{ form().closeTag(form)|raw }}
{% endblock %}
