<h1 class="text-center form-header">{{ translate('Sign In') }}</h1>

{% set form = loginForm %}
{% do form.prepare() %}

{% do form.setAttributes({
    'action': url('zfcuser/login'),
    'class' : 'form'
}) %}

{{ form().openTag(form)|raw }}

{# check email confirmation #}
{% if formElementErrors(form.get('identity')) %}
    {% set identity = form.get('identity').getMessages()[0] %}
    {% set hasInfo  = '|' in identity %}
    {% set msg      = identity|split('|') %}
    {% set info     = msg|last %}
{% endif %}
{# end check #}

{% if formElementErrors(form.get('identity')) or formElementErrors(form.get('credential')) %}
    <div class="alert alert-dismissable{{ hasInfo ? ' alert-info' : ' alert-danger' }}">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>{{ hasInfo ? 'Info' : 'Error!' }}</strong>

        {% if hasInfo %}
            <p>{{ msg|first|raw }}</p>
        {% else %}
            {{ formElementErrors()
            .setMessageOpenFormat('<p>')
            .setMessageCloseString('</p>')
            .render(form.get('identity'))|raw }}
        {% endif %}
    </div>
{% endif %}
{# end check #}

<div class="form-group{% if formElementErrors(form.get('identity')) and not info %} has-error{% endif %}">
    <span class="sr-only">{{ formLabel(form.get('identity')) }}</span>
    {{ formInput(form.get('identity').setAttributes({
        'class'      : 'form-control',
        'id'         : 'identity',
        'type'       : 'email',
        'autofocus'  : true,
        'required'   : true,
        'placeholder': 'Email',
    })) }}
</div>

<div class="form-group{% if formElementErrors(form.get('credential')) %} has-error{% endif %}">
    <span class="sr-only">{{ formLabel(form.get('credential')) }}</span>
    {{ formInput(form.get('credential').setAttributes({
        'class'      : 'form-control',
        'id'         : 'credential',
        'required'   : true,
        'placeholder': 'Password',
    })) }}
</div>

{% if redirect %}
    <input type="hidden" name="redirect" value="{{ redirect|e }}">
{% endif %}

{{ formButton(form.get('submit').setAttribute('class', 'btn btn-primary btn-lg btn-block submit-btn')) }}

{{ form().closeTag(form)|raw }}

{% if enableRegistration %}
    <p>{{ translate('Not registered?') }} <a href="{{ url('zfcuser/register') }}{{ redirect ? '?redirect=' . redirect|e : '' }}">{{ translate('Sign up!') }}</a></p>
{% endif %}