{{ docType() }}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}{% endblock %} &bull; {{ translate('Extrow') }}
        </title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% block meta %}{% endblock %}

        <!-- Le styles -->
        <link href="{{ basePath() }}/img/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
        <link rel="stylesheet" href="{{ basePath() }}/css/app.css">
        {% block style %}{% endblock %}

        <!-- Scripts -->
        <!--[if lt IE 9]><script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script><![endif]-->
        <!--[if lt IE 9]><script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
        <!--[if IE]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    </head>
    <body>
        <div class="container-fluid">
            <!-- main nav -->
            <div class="navbar navbar-material-blue-grey">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand logo" href="{{ url('home') }}">E<span class="highlight">x</span>trow</a>
                    </div>
                    <div class="navbar-collapse collapse navbar-responsive-collapse">
                        {# menu depends on role #}
                        {% if user %}
                            {% set container = navigation('Zend\Navigation\User').getContainer() %}
                        {% else %}
                            {% set container = navigation('Zend\Navigation\Default').getContainer() %}
                        {% endif %}

                        {{ CustomMenu(container).setUlClass('nav navbar-nav navbar-right').escapeLabels(false)|raw }}
                    </div>
                </div>
            </div><!-- /main nav -->

            <section class="main">
                {% block content %}{{ content|raw }}{% endblock %}
            </section>

            <footer>
                <div class="container-fluid">
                    <div class="container">
                        <div class="row">
                            <div class="col col-sm-3">
                                <h4 class="text-uppercase">Quick Links</h4>
                                <ul class="list-unstyled">
                                    <li><a href="{{ url('home') }}">Home</a></li>
                                    <li><a href="{{ url('get-started') }}">GetStarted</a></li>
                                    <li><a href="{{ url('price') }}">Price</a></li>
                                </ul>
                            </div>
                            <div class="col col-sm-3">
                                <h4 class="text-uppercase">Company <small>(<a href="http://versover.com/" target="_blank">Versover</a>)</small></h4>
                                <ul class="list-unstyled">
                                    <li><a href="http://versover.com/about" target="_blank">About</a></li>
                                    <li><a href="http://versover.com/contact" target="_blank">Contacts</a></li>
                                </ul>
                            </div>
                            <div class="col col-sm-3">
                                <h4 class="text-uppercase">Security</h4>
                                <ul class="list-unstyled">
                                    <li><a href="{{ url('security/default', {'action': 'privacy-policy'}) }}">Privacy Policy</a></li>
                                    <li><a href="{{ url('security/default', {'action': 'terms-of-service'}) }}">Terms Of Service</a></li>
                                </ul>
                            </div>
                            <div class="col col-sm-3">
                                <h4 class="text-uppercase">Help</h4>
                                <ul class="list-unstyled">
                                    <li><a href="#">Feedback</a></li>
                                    <li><a href="#">FAQ</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <p class="text-center">&copy; {{ 'now'|date('Y') }} by <a href="http://versover.com" target="_blank">Versover</a> {{ translate('All rights reserved.') }}</p>
                </div>
            </footer>
        </div> <!-- /container -->
        <script src="{{ basePath() }}/js/app.js"></script>
        {% block script %}{% endblock %}
    </body>
</html>
