{% extends 'layout/layout.twig' %}

{% block title %}{{ translate('Terms Of Service') }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col col-md-12">
        <div class="container security">
            <h1>Terms Of Service</h1>
            <hr>

            <p>Welcome to EXTROW (the "SERVICE"), owned and operated by Versover (the "PROPRIETOR"). Your use of the SERVICE is subject to these Terms of Service ("<abbr title="Terms of Service" class="initialism">TOS</abbr>").</p>
            <p>PLEASE SCROLL DOWN AND READ ALL OF THE FOLLOWING TERMS AND CONDITIONS OF THIS AGREEMENT CAREFULLY BEFORE CLICKING AN “AGREE” OR SIMILAR BUTTON OR USING THE SERVICE. THIS AGREEMENT IS A LEGALLY BINDING CONTRACT BETWEEN YOU AND PROPRIETOR AND SETS FORTH THE TERMS AND CONDITIONS THAT GOVERN YOUR USE THE SERVICE. BY CLICKING AN “AGREE” OR SIMILAR BUTTON OR BY USING THE SERVICE, YOU ACCEPT AND AGREE TO ABIDE BY THESE TERMS AND CONDITIONS AS PRESENTED TO YOU – ANY CHANGES, ADDITIONS OR DELETIONS BY YOU TO THESE TERMS AND CONDITIONS WILL NOT BE ACCEPTED BY PROPRIETOR AND WILL NOT BE A PART OF THIS AGREEMENT.</p>
            <p>PROPRIETOR HAS COMPLETE DISCRETION TO UPDATE AND CHANGE THE <abbr title="Terms of Service" class="initialism">TOS</abbr> FROM TIME TO TIME AND TO CHANGE THE SCOPE OR FEATURES OF <abbr title="Terms of Service" class="initialism">TOS</abbr> FROM TIME TO TIME. PROPRIETOR MAY MAKE SUCH CHANGES WITHOUT NOTICE. IF YOU CONTINUE TO USE THE SERVICE AFTER ANY SUCH CHANGES, WITH OR WITHOUT NOTICE, YOU WILL BE CONSIDERED TO HAVE CONSENTED TO THEM.</p>
            <hr>

            <h4>INTRODUCTION</h4>
            <p>This agreement ("AGREEMENT") between You and the PROPRIETOR consists of these <abbr title="Terms of Service" class="initialism">TOS</abbr>. "YOU" means any person or entity who uses the SERVICE and/or posts CONTENT to the SERVICE. By using the SERVICE and/or posting CONTENT YOU agree to be bound by the terms and condition of this <abbr title="Terms of Service" class="initialism">TOS</abbr>.</p>
            <hr>

            <h4>PRIVACY POLICY</h4>
            <p>Certain other information about YOU is subject to the SERVICE <a href="{{ url('security/default', {'action': 'privacy-policy'}) }}">PRIVACY POLICY</a>. For more information, see our full <a href="{{ url('security/default', {'action': 'privacy-policy'}) }}"><a href="{{ url('security/default', {'action': 'privacy-policy'}) }}">PRIVACY POLICY</a></a></p>
            <hr>

            <h4>USER CONDUCT AND CONTENT</h4>
            <p>YOU understand that all information, data, text, comments, graphics, messages or other materials ("CONTENT "), whether publicly posted or privately transmitted, are the sole responsibility of the person from which such CONTENT originated. This means that YOU and not the PROPRIETOR are entirely responsible for all CONTENT that YOU upload, post, email, transmit or otherwise make available via the SERVICE.</p>
            <p>YOU agree to not use the SERVICE to:</p>
            <ol type="a">
                <li>upload, post, email, transmit or otherwise make available any CONTENT that is unlawful, harmful, threatening, abusive, harassing, tortuous, defamatory, vulgar, obscene, libelous, invasive of another's privacy, hateful, or racially, ethnically or otherwise objectionable;</li>
                <li>upload, post, email, transmit or otherwise make available any CONTENT that YOU do not have a right to make available under any law or under contractual or fiduciary relationships (such as inside information, proprietary and confidential information learned or disclosed as part of employment relationships or under nondisclosure agreements);</li>
                <li>upload, post, email, transmit or otherwise make available any CONTENT that infringes any patent, trademark, trade secret, copyright or other proprietary rights ("RIGHTS") of any party;</li>
                <li>upload, post, email, transmit or otherwise make available any unsolicited or unauthorized advertising, promotional materials, "junk mail," "spam," "chain letters," "pyramid schemes," or any other form of solicitation;</li>
                <li>upload, post, email, transmit or otherwise make available any material that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment;</li>
                <li>interfere with or disrupt the SERVICE or servers or networks connected to the SERVICE, or disobey any requirements, procedures, policies or regulations of networks connected to the SERVICE;</li>
                <li>intentionally or unintentionally violate any applicable local, state, national or international law, including, but not limited to, regulations promulgated by the U.S. Securities and Exchange Commission, any rules of any national or other securities exchange, including, without limitation, the New York Stock Exchange, the American Stock Exchange or the NASDAQ, and any regulations having the force of law;</li>
                <li>collects or store personal data about other users.</li>
            </ol>
            <p>YOU acknowledge that the PROPRIETOR may or may not pre-screen CONTENT, but that the PROPRIETOR and its designees shall have the right (but not the obligation) in their sole discretion to pre-screen, refuse, or move any CONTENT that is available via the SERVICE. Without limiting the foregoing, the PROPRIETOR and its designees shall have the right to remove any CONTENT that violates the <abbr title="Terms of Service" class="initialism">TOS</abbr> or is otherwise objectionable. YOU agree that YOU must evaluate, and bear all risks associated with, the use of any CONTENT, including any reliance on the accuracy, completeness, or usefulness of such CONTENT. In this regard, YOU acknowledge that YOU may not rely on any CONTENT created by the PROPRIETOR or submitted to the SERVICE, including without limitation information in comments, and in all other parts of the SERVICE.</p>
            <hr>

            <h4>DISCLOSURE OF CONTENT AND PERSONAL INFORMATION</h4>
            <p>YOU acknowledge, consent and agree that the PROPRIETOR may access, preserve, and disclose your CONTENT and any personal information if required to do so by law or in a good faith belief that such access preservation or disclosure is reasonably necessary to: (a) comply with legal process; (b) enforce the <abbr title="Terms of Service" class="initialism">TOS</abbr>; (c) respond to claims that any CONTENT violates the rights of third-parties; (d) respond to your requests for customer service; or (e) protect the rights, property, or personal safety of the PROPRIETOR, the users of the SERVICE and the public.</p>
            <p>Unless otherwise clearly confirmed herein or in the <a href="{{ url('security/default', {'action': 'privacy-policy'}) }}">PRIVACY POLICY</a>, any non-personal information or material sent to PROPRIETOR will be considered NOT to be confidential. By sending PROPRIETOR any non-personal information or material, YOU grant PROPRIETOR an unlimited, permanent license to use, reproduce, exhibit, perform, modify, convey and distribute those materials or information, and YOU also agree that PROPRIETOR can freely use any ideas, concepts or techniques that YOU send us for any purpose. However, we will not release your name or otherwise expose the fact that YOU submitted materials or other information to us unless: (a) you give us permission to do so; (b) we first notify you that the materials or other information YOU submit to a particular section of a PROPRIETOR will be published or otherwise used with your name on it; or (c) we are required to do so by law.</p>
            <p>To learn more about how PROPRIETOR protects your personal information, such as your name and address, please refer to the <a href="{{ url('security/default', {'action': 'privacy-policy'}) }}">PRIVACY POLICY</a>.</p>
            <hr>

            <h4>NO CONTROL OVER CONTENT</h4>
            <p>The PROPRIETOR does not control the CONTENT posted via the SERVICE and, as such, does not guarantee the accuracy, integrity or quality of such CONTENT. YOU understand that by using the SERVICE, YOU may be exposed to CONTENT that is offensive, indecent or objectionable. Under no circumstances will the PROPRIETOR be liable in any way for any CONTENT, including, but not limited to, for any errors or omissions in any CONTENT, or for any loss or damage of any kind incurred as a result of the use of any CONTENT posted, emailed, transmitted or otherwise made available via the SERVICE.</p>
            <hr>

            <h4>INFORMATION RIGHTS</h4>
            <p>YOU grant the PROPRIETOR world-wide, perpetual, irrevocable, royalty free, non-exclusive, fully sub-licensable license(s) to use, distribute, reproduce, modify, adapt, publish, translate, publicly perform and publicly display such CONTENT (in whole or in part) and to incorporate such CONTENT into other works in any format or medium now known or later developed.</p>
            <hr>

            <h4>SUBMISSIONS OF MATERIALS</h4>
            <p>Except as may be otherwise provided in a separate written agreement between YOU and PROPRIETOR YOU agree that any materials, including but not limited to questions, suggestions, comments, ideas, plans, notes, discoveries, drawings, arts, original or creative materials or other information, provided by YOU in the form of email or submissions to PROPRIETOR, or postings on SERVICE, are non-confidential and shall become entirely the property of PROPRIETOR to the fullest extent permitted by relevant law. PROPRIETOR shall own exclusive rights and shall be entitled to the unrestricted use of these materials for any purpose, commercial or otherwise, without acknowledgment or additional compensation to YOU. In the event applicable law operates to prevent PROPRIETOR from becoming the sole owner of any such property, then this provision shall be effective as granting to PROPRIETOR (with unfettered rights of assignment) a permanent, worldwide, paid-in-full, non-exclusive right (including any moral rights) and license to make, use, reproduce, modify, adapt, sell, publish, translate, create derivative works from, distribute, communicate to the public, perform and display the content (in whole or in part) worldwide and/or to incorporate it in other works in any form, media, or technology now known or later developed, for the full term of any rights that may exist in any such material.</p>
            <hr>

            <h4>INDEMNITY</h4>
            <p>YOU agree to indemnify and hold the PROPRIETOR, and its subsidiaries, affiliates, officers, agents, co-branders or other partners, and employees, harmless from any claim or demand, including reasonable attorneys' fees, made by any third party due to or arising out of CONTENT YOU submit, post, transmit or make available through the SERVICE, YOUR use of the SERVICE, YOUR connection to the SERVICE, YOUR violation of the <abbr title="Terms of Service" class="initialism">TOS</abbr>, or YOUR violation of any rights of another. YOU agree to be responsible for all fees incurred while using SERVICE.</p>
            <hr>

            <h4>FEES & PAYMENT</h4>
            <p>All orders placed will be considered final. Fees will be due and payable as set forth on the web site or otherwise conveyed to YOU during the order process. Fees for any Renewal Term shall be at SERVICE’s then standard rates, currently in effect, or if applicable, as otherwise set forth on the web site or otherwise conveyed to YOU by PROPRIETOR. If YOU fail to pay in accordance with the payment terms, PROPRIETOR shall be entitled, at its sole discretion, (i) to suspend provision of the SERVICE temporarily until Client fulfills its pending obligations or (ii) to terminate this <abbr title="Terms of Service" class="initialism">TOS</abbr> for breach. Unless otherwise stated, all payments made under this <abbr title="Terms of Service" class="initialism">TOS</abbr> shall be in United States dollars. Except as otherwise expressly provided herein, fees are non-refundable.</p>
            <hr>

            <h4>DISCLAIMER OF WARRANTIES</h4>
            <p>YOU EXPRESSLY UNDERSTAND AND AGREE THAT:</p>
            <ol type="a">
                <li>YOUR USE OF THE SERVICE IS AT YOUR SOLE RISK. THE SERVICE IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. THE PROPRIETOR EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT;</li>
                <li>THE PROPRIETOR MAKES NO WARRANTY THAT (i) THE SERVICE WILL MEET YOUR REQUIREMENTS, (ii) THE SERVICE WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE, (iii) THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE SERVICE WILL BE ACCURATE OR RELIABLE, (iv) THE QUALITY OF ANY PRODUCTS, SERVICES, INFORMATION, OR OTHER MATERIAL PURCHASED OR OBTAINED BY YOU THROUGH THE SERVICE WILL MEET YOUR EXPECTATIONS, AND (V) ANY ERRORS IN THE SOFTWARE WILL BE CORRECTED;</li>
                <li>NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM THE PROPRIETOR OR THROUGH OR FROM THE SERVICE SHALL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THE <abbr title="Terms of Service" class="initialism">TOS</abbr>.</li>
            </ol>
            <hr>

            <h4>LIMITATION OF LIABILITY</h4>
            <p>YOU EXPRESSLY UNDERSTAND AND AGREE THAT THE PROPRIETOR SHALL NOT BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF THE PROPRIETOR HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), RESULTING FROM: (i) THE USE OR THE INABILITY TO USE THE SERVICE; (ii) THE COST OF PROCUREMENT OF SUBSTITUTE GOODS AND SERVICES RESULTING FROM ANY GOODS, DATA, INFORMATION OR SERVICES PURCHASED OR OBTAINED OR MESSAGES RECEIVED OR TRANSACTIONS ENTERED INTO THROUGH OR FROM THE SERVICE; (iii) UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA; (iv) STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON THE SERVICE; OR (v) ANY OTHER MATTER RELATING TO THE SERVICE.</p>
            <p>EXCLUSIONS AND LIMITATIONS. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES. ACCORDINGLY, SOME OF THE ABOVE LIMITATIONS OF SECTION 9 MAY NOT APPLY TO YOU.</p>
            <hr>

            <h4>MODIFICATIONS TO SERVICE</h4>
            <p>The PROPRIETOR reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the SERVICE (or any part thereof) with or without notice. YOU agree that the PROPRIETOR shall not be liable to YOU or to any third party for any modification, suspension or discontinuance of the SERVICE.</p>
            <hr>

            <h4>MISCELLANIOUS</h4>
            <p>This Agreement constitutes the entire agreement between the parties with respect to the subject matter hereof. Any modifications to this Agreement must be made in a writing executed by both parties. The failure to require performance of any provision shall not affect a party's right to require performance at any time thereafter, nor shall a waiver of any breach or default of this Agreement constitute a waiver of any subsequent breach or default or a waiver of the provision itself. If any provision herein is held unenforceable, then such provision will be modified to reflect the parties' intention, and the remaining provisions of this Agreement will remain in full force and effect. YOU may not resell, assign, or transfer any of YOUR rights hereunder. Any such attempt may result in termination of this Agreement, without liability to the PROPRIETOR. Notwithstanding the foregoing, the PROPRIETOR may assign this Agreement at any time without notice. The section titles in the <abbr title="Terms of Service" class="initialism">TOS</abbr> are for convenience only and have no legal or contractual effect.</p>
        </div>
    </div>
</div>
{% endblock %}
